<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonFilepath" value="Python\CluoStatusV1x0.exe"/>
		<add key="PythonTxtFile" value="receive_file.txt"/>
		<add key ="Port" value="4300"/>
		<add key ="DefaultUrl" value="stream.mazzzing.com"/>
		<add key="AppVersionDate" value="202208311000"/>
		<add key="AppversionNo" value="1:0:0:0" />
	</appSettings>
	<connectionStrings>
		
		
		
	</connectionStrings>
</configuration>